:root {
  --bot-bg: #3a8d3a;       /* green */
  --bot-body: #2e7d32;     /*black*/
  --bot-accent: #ffffff;   /* white*/
}

.display-message{
    height: 10%;
    background-color: var(--bot-body);
    color:  var(--bot-accent);
    font-weight: bold;
    font-size: larger;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-top: 2px;
    text-align: center;
}
.title{
    color: var(--bot-bg);
}



