:root {
  --bot-bg: #3a8d3a;       /* green */
  --bot-body: #2e7d32;     /*black*/
  --bot-accent: #ffffff;   /* white*/
}

.chat-header{
    background-color: var(--bot-body);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1.5rem;
    height: 10%;
}
.logo .bi-robot{
    color: var(--bot-accent);
    font-size: 4rem;
}

.TapShop-logo img{
    width: 12rem;
}