:root {
  --bot-bg: #66C37B;       /* green */
  --bot-body: #0D0D0D;     /*black*/
  --bot-accent: #1F1F1F;
  /* white*/
}


.widget {
  margin: 5px;
  width: 23rem;
  height: 32rem;
  border-radius: 1.6rem;
  /* padding: 0.5rem; */
  background-color: var(--bot-body);
  color: var(--bot-accent);
}

.chat-body {
background: var(--bot-body);
    margin-top: 11rem;
    /* margin-bottom: 5px; */
    top: 2rem;
    padding: 0.5rem;
    height: 25%;
    /* border-radius: 1.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat-body .btn {
  /* margin-top: 5rem; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.chat-body button {
  position: relative;
  overflow: hidden;
  width: 18rem;
  height: 3rem;
  margin: 10px;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
}

.chat-body .complain-btn button{
  background-color: var(--bot-bg);
  border: none;
}

.chat-body .question-btn button{
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

