/* Floating launcher button */

:root {
  --bot-bg: #66C37B;       /* green */
  --bot-body: #0D0D0D;     /*black*/
  --bot-accent: #1F1F1F;
  /* white*/
}



/* Popup box */
.popup-box {
  position: fixed;
     bottom: 16px;
    right: 66px;
     height: 33rem;
  background: var(--bot-accent);
  border-radius: 0 0 1.6rem 1.6rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Popup header */
.popup-header {
  background: var(--bot-bg);
  color: var(--bot-accent);
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-weight: 600; */
}

.popup-close {
  position: absolute;
  top: 31px;
  left: 13px;
  background: none;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--bot-body);
  cursor: pointer;
  z-index: 1000;
}


/* Let mainpg's .widget stretch */
.popup-box .widget {
  flex: 1;
  overflow-y: auto;
}


.chat-launcher {
  position: fixed;
  bottom: 1px;
  right: 4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  /* color: #fff; */
  font-size: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 9998;
}
.chat-launcher img{
    width: 55px;
  background-color: var(--bot-bg);
  color: var(--bot-bg);
  
  border-radius: 50%;
}