/* Floating launcher button */

:root {
  --bot-bg: #66C37B;       /* green */
  --bot-body: #0D0D0D;     /*black*/
  --bot-accent: #1F1F1F;
  /* white*/
}

@keyframes popupFadeScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animated-popup {
  animation: popupFadeScale 0.25s ease-out;
}


/* Popup box */
.popup-box {
  position: fixed;
  bottom: 36px;
  right: 79px;
  height: 33rem;
  background: var(--bot-accent);
  border-radius: 0 0 1.6rem 1.6rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Popup header */
.popup-header {
  background: var(--bot-bg);
  color: var(--bot-accent);
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-weight: 600; */
}

.popup-close {
  position: absolute;
  top: 31px;
  left: 13px;
  background: none;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--bot-body);
  cursor: pointer;
  z-index: 1000;
}


/* Let mainpg's .widget stretch */
.popup-box .widget {
  flex: 1;
  overflow-y: auto;
}


.chat-launcher {
  position: fixed;
  bottom: 15px;
  right: 10px;
     height: 55px;
    width: 55px;
    border-radius: 50%;
  background: transparent;
  font-size: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 5px var(--bot-bg); /* Glow effect */
  cursor: pointer;
  z-index: 9998;
  animation: pulse 2s infinite; /* Animation for pulsating effect */
  transition: all 0.3s ease;
}

.chat-launcher:hover {
  animation: none; /* Stop animation on hover */
  box-shadow: 0 0 15px 7px var(--bot-bg); /* Enhanced glow on hover */
}

.chat-launcher img {
  width: 66px;
    /* height: 55px; */
  border-radius: 50%;
  background-color: var(--bot-bg);
  color: var(--bot-bg);
}

/* Pulsating animation */
@keyframes pulse {
  0% {
    box-shadow: 0 0 5px 2px rgba(0, 200, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 15px 7px rgba(0, 200, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 5px 2px rgba(0, 200, 255, 0.5);
  }
}